<!doctype html>
<html>
<head>
<title>Flask app</title>
<meta charset="UTF-8">
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<link rel="stylesheet"href = "{{url_for('static',filename="css/index.css")}}"


    <body>
        <h1>Welcome to QAT HTML!<h1>
            <h2> this is okay</h2>
                <p>i am 
                    not sure</p>
                    <p> what
                      im 
                      doing<b>      now try this</b></p>


                      <h2>Basic HTML Table</h2>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th><b>boolcheck</b></th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
    <td><b>True</b><td>
  </tr>
  <tr>
    <td>Bill</td>
    <td>Steves</td>
    <td>33</td>
  </tr>
    </body>
</html>
</html>